.bg{/*classe do background*/
	/*position define a posição em relação a pagina, nesse caso, o fixed faz que saia do 
	fluxo normal da pagina(elementos empilhados um embaixo do outro.), deixando ele preso a tela*/
	position: fixed;
	top: 0;
	left: 0;
	
	height: 100vh;
	width: 100vw;
	
	
	background-image: url("backgrounds/background_base.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
	/*a "profundidade" que ele esta, nesse caso, atras de tudo*/
	z-index: -1;
	}