.conteudo{
		display: flex;
		align-items: center;
		gap: 10px;
		
	}
	
	
.info{
		
		opacity:0;
		transition: opacity 0.3s ease;

	}
	
.perfil:hover + .info{
		opacity:1;
		
	}
	
.info-style{

		color: #ffffff;
		font-size: 30px;
		
	}

.brawler{
	display: block;
}
.brawler.hide{
	display:none;
}

.brawler img{
		border: 7px solid black;
		border-radius: 5%;
		height: 250px ;
		width: 350px;
		box-shadow: 0px 0px 0px 2px white;
}

/*raridades*/
.rare img{background-color: #0bd50b;}
.superrare img{background-color:#0e0ed0;}
.epic img{background-color:#b804b8;}
.mystic img{background-color:#e31313;}
.legendary img{background-color:#faff24;}
.ultralegendary img{background-color:#800c56;}

.icon_b{
	padding:0;
	background:none;
	border: none;
	outline: none;
	transition:0.5s;
	
}
.icon_b:hover{
	transform: scale(1.1,1.1);
}
.icon_b:active{
	transform: scale(1,1);
}

.icon_b img{

		border: 3px solid yellow;
		border-radius: 10%;
		height: 83px ;
		width: 116px;
		background-color: #661313;
		
}
 .brawler h3{
	font-size: 40px;
}
