.conteudo{
		display: flex;
		align-items: center;
		gap: 10px;
		
	}
	
	
.info{
		
		opacity:0;
		transition: opacity 0.3s ease;

	}
	
.perfil:hover + .info{
		opacity:1;
		
	}
	
.info-style{

		color: #ffffff;
		font-size: 30px;
		
	}


.brawler img{
		border: 10px solid yellow;
		border-radius: 10%;
		height: 250px ;
		width: 350px;
		background-color: darkslateblue;
}

.icon_b img{

		border: 3px solid yellow;
		border-radius: 10%;
		height: 83px ;
		width: 116px;
		background-color: #661313;
}
 .brawler h3{
	font-size: 40px;
}
