		
.b_show{
		display: none;
}

button{
		background-image: url("decor_css/button_img.jpg");
		background-size: cover;
		width:90px;
		height:60px;
		
	}


label{
	position: absolute;
	top:0px;
	right:0px;
	
}

h1{	color:yellow}


