@font-face{
	font-family: Nougat;
	src: url(nougat/Nougat-ExtraBlack.ttf)
	
}


body{
	font-family: Nougat;
	font-variant:normal;
	color: white;
	margin: 10px;
	text-shadow: -2px -2px 0 #000,
				 2px -2px 0 #000,
				 -2px 2px 0 #000,
				 2px 2px 0 #000,
				 -1px 0px 0 #000,
				 1px 0px 0 #000,
				 0px -1px 0 #000,
				 0px 1px 0 #000;
}

	
.b_show{
		display: block;
}

.b_show.ativo{
		display: none;
}


#botao{
		background-image: url("decor_css/button_img.jpg");
		background-size: cover;
		width:90px;
		height:60px;
		
	}



label{
	position: absolute;
	top:0px;
	right:0px;
	
}

h1{	color:yellow;
	text-shadow: -2px -2px 0 #000,
				 2px -2px 0 #000,
				 -2px 2px 0 #000,
				 2px 2px 0 #000,
				 -3px 0px 0 #000,
				 3px 0px 0 #000,
				 0px -3px 0 #000,
				 0px 3px 0 #000;}


