<html>
<head>
<link rel="stylesheet" href="{{url_for("static",filename="css/style.css")}}"> 
<link rel="stylesheet" href="{{url_for("static",filename="css/background_style.css")}}">
<link rel="stylesheet" href="{{url_for("static",filename="css/brawler_style.css")}}">  
<link type="image/png" sizes="16x16" rel="icon" href="{{url_for("static",filename="icon_head/icon_head.png")}}"> 

<title>BrawlWeb</title>
</head>

<body id="pagina">
<label class="background_button">
Tema:
<select id="changebg">
<option value="base">Base</option>
<option value="tarabazar">Bazar da Tara</option>
<option value="cyberweek">Cyberweek</option>
<option value="supercity">Super City</option>
</select>
</label>

<div class="bg" id="bg"></div><!--background-->
<h1>Brawlers</h1>
<button type="button" id="botao" onclick="showhide()">Clique aqui para ver os brawlers</button>

<button onclick="buscar()">
    Teste Fetch
</button>
<div class="b_show ativo" id="b_show"><!--div que agrupa todos os brawlers-->
<div class="icon_select" id="icon_select">
<br>
<button type="button" class="icon_b" value="El Primo" onclick="showinfo(this.value)"><img src="{{url_for("static",filename="perfil/elprimo_perfil.png")}}"></button><!--botão para mostrar informação individual dos brawlers-->
<button type="button" class="icon_b" value="Poco" onclick="showinfo(this.value)"><img src="{{url_for("static",filename="perfil/poco_perfil.png")}}"></button>
<button type="button" class="icon_b" value="8-BIT" onclick="showinfo(this.value)"><img src="{{url_for("static",filename="perfil/8bit_perfil.png")}}"></button>
<button type="button" class="icon_b" value="Rico" onclick="showinfo(this.value)"><img src="{{url_for("static",filename="perfil/rico_perfil.png")}}"></button>
<button type="button" class="icon_b" value="Gale" onclick="showinfo(this.value)"><img src="{{url_for("static",filename="perfil/gale_perfil.png")}}"></button>
<button type="button" class="icon_b" value="Mandy" onclick="showinfo(this.value)"><img src="{{url_for("static",filename="perfil/mandy_perfil.png")}}"></button>
<button type="button" class="icon_b" value="Clancy" onclick="showinfo(this.value)"><img src="{{url_for("static",filename="perfil/clancy_perfil.png")}}"></button>
<button type="button" class="icon_b" value="Alli" onclick="showinfo(this.value)"><img src="{{url_for("static",filename="perfil/alli_perfil.png")}}"></button>
<button type="button" class="icon_b" value="Gigi" onclick="showinfo(this.value)"><img src="{{url_for("static",filename="perfil/gigi_perfil.png")}}"></button>
<button type="button" class="icon_b" value="Corvo" onclick="showinfo(this.value)"><img src="{{url_for("static",filename="perfil/corvo_perfil.png")}}"></button>
<button type="button" class="icon_b" value="Sandy" onclick="showinfo(this.value)"><img src="{{url_for("static",filename="perfil/sandy_perfil.png")}}"></button>
<button type="button" class="icon_b" value="Sirius" onclick="showinfo(this.value)"><img src="{{url_for("static",filename="perfil/sirius_perfil.png")}}"></button>


<div class=" brawler hide rare" id="infobrawler">
<h3>Brawler-<span id="brawl_nome"></span></h3>
<div class="conteudo">
<img class="perfil" src="{{url_for("static",filename="perfil/poco_perfil.png")}}">
<div class="info">
<span class="info-style">
<span>Classe: <span id="classe"></span></span>
<span>Vida: <span id="vida"></span></span>
<span>Dano: <span id="dano"></span></span>
</span>
<div id=descricao></div>
</div>
</div>
</div>

<div class="brawler hide legendary" id="corvo">
<h3>BRAWLER-CORVO</h3>
<div class="conteudo">
<img class="perfil" src="{{url_for("static",filename="perfil/corvo_perfil.png")}}">
<button class="change" type="button" value="corvo" onclick="change(this.value)"><img src="{{url_for("static",filename="decor_css/corvo_change.png")}}"></button>
<div class="info">
<span class="info-style">Classe: Assassino, Vida:6,000 , Dano:640x3(1920)</span>
</div>
</div>
</div>


<div  class="brawler hide ultralegendary" id="sirius">
<h3>BRAWLER-SIRIUS</h3>
<div class="conteudo">
<img class="perfil" src="{{url_for("static",filename="perfil/sirius_perfil.png")}}" alt="Sirius">
<button class="change" type="button" value="sirius" onclick="change(this.value)"><img src="{{url_for("static",filename="decor_css/sirius_change.png")}}"></button>
<div class="info">
<span class="info-style">Classe: Controle, Vida:7,400, Dano:1200x2(2,400)</span>
</div>
</div>
</div>

</div><!--icon_select-->
</div><!--b_show-->
<script src="{{url_for("static",filename="javascript/backgroundImage.js")}}"></script>
<!--<script src="{{url_for("static",filename="javascript/infobrawler.js")}}></script>-->
<script src="{{url_for("static",filename="javascript/onclick.js")}}"></script>
<script src="{{url_for("static",filename="javascript/change_perfil.js")}}"></script>
<!--<script src="{{url_for("static",filename="javascript/busca_brawler.js")}}"></script>-->
</body>
</html>